/** Inititalisation */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    --transition-speed: 200ms;
}

html,
body {
    margin: 0 auto;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    overflow: scroll;
    overflow: overlay;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Scrollbar */

body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #060606;
    border-radius: 10px;
}

/** Navbar */

.navbar {
    z-index: 1;
    background-color: #06060600;
    width: 100%;
    position: fixed;
    transition: all var(--transition-speed) ease-in-out;
}

.navbar.scrolled {
    background-color: #060606e6;
    backdrop-filter: blur(8px);
}

.navbar-nav {
    height: 4.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    transition: all var(--transition-speed) ease-in-out;
}

.brand {
    width: 1.62rem;
    height: 3rem;
}

.nav-item {
    &.link {
        padding: 1.25rem;
    }

    &.logo {
        padding: 0.625rem;
    }
}

.nav-item:last-child {
    margin-left: auto;
    margin-right: 1.2rem;
    display: inline-block;
    position: relative;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 1.2rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.nav-link, .side-link {
    color: #ffffff;
    text-decoration: none;
}

/** Sidebar */

.sidebar {
    margin-top: 4.125rem;
    height: 100%;
    width: 0rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #060606e6;
    background-color: #060606e6;
    backdrop-filter: blur(8px);
    transition: all var(--transition-speed) ease-in-out;
}

.sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all var(--transition-speed) ease-in-out;
}

.side-item {
    padding: 1.25rem 0px;
    color: white;
    font-size: 0rem;
}

.side-item:first-of-type {
    padding-top: 1rem;
}

.side-icon {
    margin-left: 0.188px;
    transition: all var(--transition-speed) linear;
}

/** Sidebar Toggler */

.row {
    width: 1.625rem;
    height: 0.125rem;
    background-color: #ffffff;
    margin: 0.375rem 0;
    transition: var(--transition-speed);
    border: none;
}

.change .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-3px, 4px);
}

.change .bar-2 {
    opacity: 0;
}

.change .bar-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.icon {
    font-size: 1.625rem;
}

/** Header*/

:root {
    --header-title: 5.2rem;
    --header-text: 1.2rem;
    --header-carousel: 6.2rem;
}

.header {
    width: 100%;
    z-index: 0;
    margin: 0 auto;
    transition: all var(--transition-speed) ease-in-out;
}

.header-title {
    color: #ffffff;
    padding: 8rem 4rem 0rem 4rem;
    font-size: var(--header-title);
    font-weight: bold;
}

.header-text {
    color: #ffffff;
    padding: 1rem 4rem 0rem 4rem;
    font-size: var(--header-text);
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.carousel {
    z-index: 0;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: var(--header-carousel);
    line-height: calc(var(--header-carousel) * 1.5);
    height: calc(var(--header-carousel) * 1.5);

    .change_outer {
        z-index: 0;
        position: relative;
        text-align: left;
        height: calc(var(--header-carousel) * 1.5);
        overflow: hidden;

        .change_inner {
            z-index: 0;
            position: relative;
            animation: rotate 8s ease-in-out infinite;
        }

        .carousel_element {
            z-index: 0;
            display: block;
            white-space: pre-wrap;
        }

    }

}

@keyframes rotate {

    0%,
    20% {
        transform: translateY(0);
    }

    25%,
    45% {
        transform: translateY(calc(var(--header-carousel) * -1.5));
    }

    50%,
    70% {
        transform: translateY(calc(var(--header-carousel) * -3));
    }

    75%,
    95% {
        transform: translateY(calc(var(--header-carousel) * -4.5));
    }

    100% {
        transform: translateY(calc(var(--header-carousel) * -6));
    }
}

.rainbow {
    z-index: 0;
    background: linear-gradient(to right, #5043e1, #dd206f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {}
}

/** Spacers */

.spacer {
    z-index: 1;
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
}

//Colours for future reference: 5043e1 as blue and dd206f as pink
.layer {
    background-image: url('../img/layer.svg');
}

.layerSecond {
    background-image: url('../img/layerSecond.svg');
}

.flip {
    transform: rotate(180deg);
}

/** Header Button */

.header-button {
    margin: 2rem 0rem 0rem 4rem;
    border: 2px solid #ffffff;
    background-color: #00000000;
    padding: 1.125rem 1.85rem;
    border-radius: 4rem;
    vertical-align: center;
    transition: all var(--transition-speed) ease-in-out;
}

.header-button:hover, .header-button:focus, .header-button:active {
    margin-left: 5.25rem;
    background-color: #ffffff;

    &+.header-button-clicker {
        opacity: 1;
        margin-right: 1.25rem;
        position: relative;
        transform: translateX(0%);
    }

    .header-button-text {
        color: #000000;
    }
}

.header-button-text {
    font-family: 'Raleway', sans-serif;
    vertical-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.0rem;
}

.header-button-clicker {
    position: absolute;
    transform: translateX(-100%);
    transition: all var(--transition-speed) ease-in-out;
    transition-delay: 100ms;
    top: 1.8rem;
    left: 1.4rem;
    display: inline-block;
    opacity: 0;
}

.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
    0% {
        opacity: 0;
        height: 6px;
    }

    40% {
        opacity: 1;
        height: 10px;
    }

    80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
    }

    100% {
        height: 3px;
        opacity: 0;
    }
}

.chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
    animation: pulse 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
    animation: pulse 500ms ease infinite alternate 250ms;
}

@keyframes pulse {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

/** Header Design */

canvas {
    width: 100%;
    background: #161616;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}